
@tailwind base;
@tailwind components;
@tailwind utilities;

@import './scene.scss';
@import './chat.scss';
@import './teams.scss';
.app {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
}

.classified-image {
  width: 400px;
  height: 400px;
  max-width: calc(100vw - 100px);
  max-height: calc(100vw - 100px);
  border-radius: 10px;
  margin: 20px;
  box-shadow: 4px 4px 6px 1px lightgray;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}

.tag {
  margin: 5px;
  padding: 5px 14px;
  border-radius: 15px;
  font-size: 14px;
  text-transform: capitalize;
}

.project-card{
  width: 300px;
  border: 5px dashed darkblue;
  border-radius: 25px;
  padding: 10px;
  
}

.project-cards{
  display : flex;
  flex-direction: row;
  gap: 20px;
}

.quail-card{
  width: 300px;
  border: 5px solid rgb(223, 202, 13);
  border-radius: 25px;
  padding: 10px;
  
}

.quail-cards{
  display : flex;
  flex-direction: row;
  gap: 20px;
  
}

.text-red{
color: red;
}

.text-green{
color: green;
}

.like-plus{
color: rgb(43, 255, 0);
}

.like-minus{
color: rgb(225, 12, 12);
}

.like-plus, .like-minus{
  cursor: pointer;
  padding: 5px;
  border: 2px solid rgb(255, 221, 0);
  border-radius: 3px;
  margin: 5px;
  user-select: none;
}

.bookmark{
  cursor: pointer;
  user-select: none;
}